<!-- RETOUR EN HAUT PAGE PRESENTATION  -->
<div class="col-12 pe-2 text-end mt-5">
    <a href="#" class="small text-decoration-none"><i class="fas fa-caret-up"> Retour en haut</i></a>
</div>
<!-- START Bootstrap-Cookie-Alert -->
<div class="col-12 cookiealert text-center p-1" role="alert">
    <div class="col-12">
        <b>Vous aimez les cookies?</b> 🥐 <br />
        Nous les utilisons pour faire fonctionner le site correctement.
        <a class="text-warning" href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser" target="_blank">
            En savoir plus
        </a>
    </div>
    <div class="col-12">
        <button type="button" class="btn btn-primary btn-sm acceptcookies">
            Ok
        </button>
    </div>
</div>
<!-- END Bootstrap-Cookie-Alert -->
<!-- Footer -->
<footer class="border-top mt-2 col-12">
    <section class="d-flex justify-content-center justify-content-md-end border-bottom p-2 align-items-center">
        <span class="text-uppercase font-italic me-4">Suivez nous sur les réseaux:</span>
        <a class="me-3" href=""><img class="social_logo" src="{{ asset('images/reseaux_sociaux/logo-facebook.png') }}"
                alt="Suivez nous sur Facebook !"></a>
        <a href=""><img class="social_logo" src="{{ asset('images/reseaux_sociaux/logo-instagram.png') }}"
                alt="Suivez nous sur Instagram !"></a>
    </section>
    <section class="col-12 d-flex flex-wrap px-2 pt-4">
        <div class="col-12 col-sm-6 col-md-4">
            <h3>Boulangerie K</h3>
            <p>13 rue du four</p>
            <p>75 000 Paris</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <h3>Nos horaires</h3>
            <ul class="col-8 col-sm-12 col-lg-9">
                <li class="d-flex justify-content-between">
                    <div>Lundi:</div>
                    <div>❌ Fermé</div>
                </li>
                <li class="d-flex justify-content-between">
                    <div>Mardi:</div>
                    <div>✅ 8h00 - 18h00</div>
                </li>
                <li class="d-flex justify-content-between">
                    <div>Mercredi:</div>
                    <div>✅ 8h00 - 18h00</div>
                </li>
                <li class="d-flex justify-content-between">
                    <div>Jeudi:</div>
                    <div>✅ 8h00 - 18h00</div>
                </li>
                <li class="d-flex justify-content-between">
                    <div>Vendredi:</div>
                    <div>✅ 8h00 - 18h00</div>
                </li>
                <li class="d-flex justify-content-between">
                    <div>Samedi:</div>
                    <div>✅ 8h00 - 18h00</div>
                </li>
                <li class="d-flex justify-content-between">
                    <div>Dimanche:</div>
                    <div>✅ 8h00 - 12h00</div>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-4">
            <h3>Services</h3>
            <ul>
                <li>Lien 1</li>
                <li>Lien 2</li>
                <li>Lien 3</li>
            </ul>
        </div>
    </section>
    <section class="text-center p-1">
        <div class="small">Site créé par: <a class="text-decoration-none" rel="noreferrer"
                href="https://www.je-developpe.fr" target="_blank">Je-Développe</a></div>
        <div class="small">Version 1.00</div>
    </section>
</footer>


<!-- Footer -->