{% extends 'site/base.html.twig' %}

{% block title %}: Accueil{% endblock %}

{% block body %}
	
    <section id="sectionIndex">
    
    </section>
    <section id="sectionIndex" class="my-5">

    </section>
	
{% endblock %}
