.social_logo {
  width: 35px;
}
.div-img-eboutique-card {
  width: 100%;
  height: 180px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}

.cookiealert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 !important;
  z-index: 90;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  transform: translateY(100%);
  transition: all 10ms ease-out;
  color: #ecf0f1;
  background-color: #f89406;
}

.cookiealert.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
  transition-delay: 1000ms;
}
.cookiealert a {
  text-decoration: underline;
}
.cookiealert .acceptcookies {
  margin-left: 10px;
  vertical-align: baseline;
}
.alertDiv {
  // top: 0;
  // right: 0;
  // min-width: 300px;
  color: #fbfef9;
  -webkit-animation-delay: 2000ms;
  animation-delay: 2000ms;
  -webkit-animation-name: magic;
  animation-name: magic;
  -webkit-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes magic {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes magic {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.creneauDisponible {
  :hover{
    scale: 0.9;
    transition: 200ms ease-in;
  
  }
} 