.social_logo {
  width: 35px;
}
.div-img-eboutique-card {
  width: 100%;
  height: 180px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}

.cookiealert {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 !important;
  z-index: 90;
  border-radius: 0;
  transition: all 10ms ease-out;
  color: #ecf0f1;
  background-color: #495057;
}

.cookiealert a {
  text-decoration: underline;
}
.cookiealert .acceptcookies {
  margin-left: 10px;
  vertical-align: baseline;
}
.alertDiv {
  // top: 0;
  // right: 0;
  // min-width: 300px;
  color: #fbfef9;
  -webkit-animation-delay: 2000ms;
  animation-delay: 2000ms;
  -webkit-animation-name: magic;
  animation-name: magic;
  -webkit-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes magic {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes magic {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.creneauDisponible {
  :hover{
    scale: 0.9;
    transition: 200ms ease-in;
  
  }
} 

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar{
  opacity: 0;
  transition: all 0.4s;
}

#indexSection1{
  position: relative; 
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-attachment: fixed;
  h1{
    position: relative;
    color: black;  
    font-size: 8em;
    line-height: 0.9;
    text-align: center;
  }
}

#indexSection1::before {    
  content: "";
  background-image: url(/images/site/presentation-boulangerie.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}